<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mywebapp.mapper.UserMapper">
    <select id="findByUsername" resultType="com.example.mywebapp.entity.User">
        SELECT usr.id,usr.name,usr.email as username,usr.password,usr.team_id FROM link_keep.users usr
        WHERE email = #{name};
    </select>
    <update id="updatePassword">
        UPDATE users
        SET password = #{password}
        WHERE email = #{username}
    </update>
    <insert id="insertUser">
        INSERT INTO link_keep.users
        (name,email,password,team_id)
        VALUES
        (#{name},
        #{username},
        #{password},
        #{team_id});
    </insert>
</mapper>
